<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KCL</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/reviews.css">
</head>

<body>
    <header>



       <a href="/"> <img class="logo" src="./photo/logo.png" alt=""></a>
        <Nav>
            <ul class="navMenu">
                <li><a href="/" class="menuA">Home</a></li>
                <li><a href="/reviews" class="menuA">Reviews</a></li>
                <li><a href="/articles">Articles</a></li>
                <li><a href="/festivalWatch"> Festival Watch</a></li>
                <li><a href="/archive">Archive</a></li>
            </ul>
        </Nav>


    </header>

    <main>
    <main>
        <div class="center">
            <div class="headerBuffer"></div>
            <section class="reviews">
                <h2>Articles</h1>
                    <div class="articles">
                    {{#each articles}}
                    <article>
                        <form action="/article" method="get">
                            <button type="submit" name="id" value="{{this.id}}">
                                <div class="article">

                                    <div class="imageContainer">

                                        <img src="{{this.promoImage}}" alt="Photo">
                                        <div class="dropDown">

                                            {{#if this.infobox}}
                                            <div class="articleDate">
                                               {{this.infobox}}
                                                
                                                
                                            </div>
                                            {{/if}}
                                        </div>
                                    </div>


                                    <div class="articleRight">
                                        <h3 style="color:black;">{{this.title}}</h3>
                                        <div class="midText">
                                            <p>{{this.author}}</p>
                                            <p>{{this.dateFormat}}</p>
                                        </div>
                                        <p class="subtitle">{{this.subtitle}}</p>
                                    </div>
                                </div>
                            </button>
                        </form>
                    </article>
                    {{/each}}
                    </div>
            </section>
        </div>
    </main>
    </main>

    <footer>

    </footer>
</body>

</html>